.order-main{
    display: flex;
    justify-self: center;
    align-items: center;
}
.order-aside{
    /* display: flex;
    flex-direction: column; */
    margin: 0px 30px;
    padding: 5px;
    font-size: large;
    width:200px;
    background-color: #F7ECDE;
    
}
.order-mypage{
    padding: 10px;
    font-size:30px;
    font-weight: bold;
}
.order-side{
    text-align: center;
    font-size:20px;
}
.order{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#ordered-item-list{
    width:1000px;
}
table{
    width:900px;
    text-align: center;
}
thead{
    text-align: center;
}

#more-list-button{
    width:800px;
    height:45px;
}
#pagination{
    margin: 50px 500px;
    width: 50%;
}