/* 주문 리스트 */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-header{
    display: flex;
    justify-content: center;
}
.admin-orderlist-section {
    max-width: 1000px !important;
    margin: 5rem auto 2rem auto;
}

.admin-orderlist-table {
    text-align: center;

    padding: 0;
}

.orders-item {
    text-align: center;
    align-items: center;
}

.orders-item:not(:last-child) {
    border-bottom: #bbb 1px solid;
}


.modal .box {
    text-align: center;
}
.modal .buttons {
    justify-content: center;
}