/* 주문 리스트 */
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1px; */
    margin-bottom: 25px;
}
.admin-orderlist-section {
    max-width: 1000px !important;
    /* margin: 5rem auto 2rem auto; */
    /* margin-left: 450px; */
    margin: 0px auto;
}

.admin-orderlist-table {
    text-align: center;
    display: flex;
    padding: 0;
}

.orders-item {
    text-align: center;
    align-items: center;
}

.orders-item:not(:last-child) {
    border-bottom: #bbb 1px solid;
}
.showDetail{
    text-align: center;
}
.Detail{
    text-align: center;
}

tbody tbody{
    display: flex;
}
.modal .box {
    text-align: center;
}
.modal .buttons {
    justify-content: center;
}
#pagination{
    margin: 50px 50px;
    /* width: 50%; */
}
#pagination_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* @media screen {
    
} */