@charset "UTF-8";

main {
  margin-top: 20px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.snb {
  flex-basis: 20%;
}

.ctg-list {
  flex-basis: 80%;
}

/* 버튼 */
.icon-list {
  display: flex;
  margin-top: 24px;
  user-select: none;
}

.icon-list li:not(:first-child) {
  margin-left: 12px;
}
