<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>약쟁이</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="category.css" />
    <script src="category.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->

    <!-- 메인 -->
    <main>
      <!-- 고민별 상품 보기 -->
      <!-- TODO 컴포넌트 분리 -->
      <section class="category-concern">
        <div class="wrapper">
          <div class="concern-title">
            <h2 class="title">카테고리</h2>
          </div>

          <!-- 아이콘 리스트 -->
          <div class="scroll-container">
            <ul class="category-icons is-flex">
              <li>
                <button class="category-link">
                  <figure class="category-image is-flex">
                    <img
                      class="is-justify-content-center is-align-items-center"
                      src="https://pilly.kr/images/store/concern/icon-total_on@2x.png"
                      alt="전체"
                    />
                  </figure>
                  <p class="category-name is-justify-content-center">전체</p>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- TODO 컴포넌트 분리 -->
      <section class="health-function horizontal">
        <div class="wrapper">
          <p>총 <span>1개</span></p>

          <ul class="function-items">
            <li>
              <a href="#">
                <figure class="product-img">
                  <img src="images/product_01.png" alt="액상 칼슘 마그네슘" />
                </figure>
                <div class="product-information">
                  <span>필리</span>
                  <h3><span>[차일드라이프]</span> 액상 칼슘 마그네슘</h3>
                  <p class="product-price">26,800원</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <!-- 푸터 -->
  </body>
</html>
