<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>약쟁이</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="category.css" />
    <script src="category.js" type="module" defer></script>
  </head>
  <body>
    <!-- 메인 -->
    <main>
      <!-- 배너 -->
      <div class="banner">배너</div>

      <!-- 고민별 상품 보기(임시) -->
      <section class="concern">
        <div class="wrapper">
          <div class="concern-title">
            <h2>고민별 상품 보기</h2>
            <a href="#" class="more-link"
              >더보기<span><img src="" alt="" /></span
            ></a>
          </div>

          <!-- 아이콘 리스트 -->
          <div class="scroll-container">
            <ul class="concern-icons">
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-total_off.png"
                      alt="전체"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-total_on.png"
                      alt="전체"
                    />
                  </figure>
                  <p>전체</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-gyniatrics_off.png"
                      alt="여성건강/PMS"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-gyniatrics_on.png"
                      alt="여성건강/PMS"
                    />
                  </figure>
                  <p>여성건강 / PMS</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-joints_bone_off.png"
                      alt="관절/뼈"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-joints_bone_on.png"
                      alt="관절/뼈"
                    />
                  </figure>
                  <p>관절 / 뼈</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-oral_cavity_off.png"
                      alt="구강관리"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-oral_cavity_on.png"
                      alt="구강관리"
                    />
                  </figure>
                  <p>구강관리</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-diet_off.png"
                      alt="다이어트"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-diet_on.png"
                      alt="다이어트"
                    />
                  </figure>
                  <p>다이어트</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-mental_fitness_off.png"
                      alt="마음건강"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-mental_fitness_on.png"
                      alt="마음건강"
                    />
                  </figure>
                  <p>마음건강</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-skin_health_off.png"
                      alt="피부"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-skin_health_on.png"
                      alt="피부"
                    />
                  </figure>
                  <p>피부</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-anti_oxidation_off.png"
                      alt="노화/향산화"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-anti_oxidation_on.png"
                      alt="노화/향산화"
                    />
                  </figure>
                  <p>노화 / 향산화</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-vitality_off.png"
                      alt="피로/활력"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-vitality_on.png"
                      alt="피로/활력"
                    />
                  </figure>
                  <p>피로 / 활력</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-liver_health_off.png"
                      alt="간 건강"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-liver_health_on.png"
                      alt="간 건강"
                    />
                  </figure>
                  <p>간 건강</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-intestinal_health_off.png"
                      alt="장 건강"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-intestinal_health_on.png"
                      alt="장 건강"
                    />
                  </figure>
                  <p>장 건강</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-androgenic_health_off.png"
                      alt="남성 건강"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-androgenic_health_on.png"
                      alt="남성 건강"
                    />
                  </figure>
                  <p>남성 건강</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-stomache_off.png"
                      alt="위/소화"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-stomache_on.png"
                      alt="위/소화"
                    />
                  </figure>
                  <p>위 / 소화</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-constipation_off.png"
                      alt="변비"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-constipation_on.png"
                      alt="변비"
                    />
                  </figure>
                  <p>변비</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-ophthalmologic_off.png"
                      alt="눈건강"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-ophthalmologic_on.png"
                      alt="눈건강"
                    />
                  </figure>
                  <p>눈건강</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-hair_scalp_off.png"
                      alt="모발/두피"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-hair_scalp_on.png"
                      alt="모발/두피"
                    />
                  </figure>
                  <p>모발 / 두피</p></a
                >
              </li>
              <li>
                <a href="#"
                  ><figure class="icon-imgs">
                    <img
                      class="default-icon"
                      src="../home/images/concern-icons/icon-pediatrics_off.png"
                      alt="유/소아"
                    />
                    <img
                      class="on"
                      src="../home/images/concern-icons/icon-pediatrics_on.png"
                      alt="유/소아"
                    />
                  </figure>
                  <p>유 / 소아</p></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- TODO 컴포넌트 분리 -->
      <!-- 건강기능식품 -->
      <section class="health-function list">
        <div class="wrapper">
          <h2>건강기능식품</h2>

          <ul class="function-items">
            <li>
              <a href="#">
                <figure class="product-img">
                  <img src="images/product_01.png" alt="액상 칼슘 마그네슘" />
                </figure>
                <div class="product-information">
                  <span>건강기능식품</span>
                  <h3><span>[차일드라이프]</span> 액상 칼슘 마그네슘</h3>
                  <p class="product-price">26,800원</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="product-img">
                  <img src="images/product_02.png" alt="액상 비타민D3" />
                </figure>
                <div class="product-information">
                  <span>건강기능식품</span>
                  <h3><span>[차일드라이프]</span> 액상 비타민D3</h3>
                  <p class="product-price">26,800원</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="product-img">
                  <img src="images/product_03.png" alt="액상 비타민C" />
                </figure>
                <div class="product-information">
                  <span>건강기능식품</span>
                  <h3><span>[차일드라이프]</span> 액상 칼슘 마그네슘</h3>
                  <p class="product-price">26,800원</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure class="product-img">
                  <img src="images/product_04.png" alt="퓨어 DHA" />
                </figure>
                <div class="product-information">
                  <span>건강기능식품</span>
                  <h3><span>[차일드라이프]</span> 퓨어 DHA</h3>
                  <p class="product-price">26,800원</p>
                </div>
              </a>
            </li>
          </ul>

          <!-- 더보기 -->
          <div class="more">
            <a href="#" class="btn-more"><span>💊</span>건강기능식품 더보기</a>
          </div>
        </div>
      </section>

      <!-- 건강식품 -->
      <!-- 건강용품 -->
    </main>

    <!-- 푸터 -->
  </body>
</html>
