<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>약쟁이</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="category.css" />
    <script src="category.js" type="module" defer></script>
    <!-- navbar -->
    <script src="../navbar.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header></header>

    <!-- 메인 -->
    <main>
      <!-- 고민별 상품 보기 -->
      <section class="category-concern">
        <div class="wrapper">
          <!-- 아이콘 리스트 -->
          <div class="category-container">
            <ul class="category-icons is-flex">
              <li id="all-product">
                <button class="category-link">
                  <figure class="category-image is-flex">
                    <img
                      src="https://pilly.kr/images/store/concern/icon-total_off@2x.png"
                      alt="전체아이콘"
                    />
                  </figure>
                  <p class="category-name is-justify-content-center">전체</p>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="health-function horizontal">
        <div class="wrapper">
          <p class="product-count"></p>
          <ul class="product-items"></ul>
          <div class="pagination"></div>
        </div>
      </section>
    </main>

    <!-- 푸터 -->
    <footer></footer>
  </body>
</html>
