/* 태그 기본값 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin-left: 0;
}

li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}

/* 고민별 상품 보기 */
/* TODO 컴포넌트 분리 */
.category-concern {
  margin-top: 56px;
}

.category-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin-top: 16px;
}

.category-icons {
  margin-top: 24px;
  user-select: none;
}

.category-icons li:not(:first-child) {
  margin-left: 12px;
}

.category-image {
  width: 72px;
  height: 72px;
  border-radius: 24px;
  background-color: #f2f2f2;
}

.category-image img {
  width: 32px;
  height: 32px;
  margin: auto;
}

.category-name {
  margin-top: 8px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.category-image:hover {
  background-color: #ffefeb;
}

.icon-on {
  background-color: #ffefeb;
}

/*  */
.product-container {
  overflow: hidden;
  margin-top: 16px;
}

.product-items {
  margin-top: 24px;
}

.product-items li {
  max-width: 270px;
  vertical-align: top;
  cursor: pointer;
}

.product-items li:not(:first-child) {
  margin-left: 30px;
}

.product-img {
  width: 100%;
  background-color: #eaeaea;
  border-radius: 100%;
}

.product-img img {
  max-width: 100%;
  height: auto;
}

.product-information {
  margin-top: 16px;
}

.product-information p {
  margin-top: 8px;
}

/* */
.horizontal {
  margin-top: 56px;
  padding-top: 56px;
  border-top: 12px solid #f2f2f2;
}

.product-img {
  width: 100%;
  background-color: #eaeaea;
  border-radius: 8px;
}

.product-img img {
  width: 270px;
  height: 270px;
}

.more-link {
  position: absolute;
  top: 0;
  right: 0;
}

.more {
  margin-top: 56px;
  text-align: center;
}

.btn-more {
  display: inline-block;
  width: 370px;
  height: 56px;
  line-height: 56px;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: 1px solid #666666;
  border-radius: 8px;
}

.product-items {
  display: grid;
  margin-top: 42px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 29px;
  row-gap: 56px;
}

/* 페이지네이션 */
.pagination {
  display: block;
}

.page-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #eaeaea;
  border-radius: 24px;
  cursor: pointer;
}

.page-button:not(:first-child) {
  margin-left: 12px;
}
