/* 도대체 왜 얘는 플렉스가 안되는거니,, */


#notice-main section{
    display: flex;
    justify-content: center;  
}
#notice_h2_text{
    font-size: 100px;
    font-weight: bold;

}
#left_side_var_notice{
    display: flex;
}
#notice-content{
    display: flex;
}
#notice_table_layout{    
    width: 1280px;
}

#notice_pagination{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* #left_side_var_notice{
    display: flex;
    justify-content: left;
    align-items: center;
}
#notice_table_layout{
    display: flex;
    justify-content: left;
    align-items: center;
    width:1000px;
}
#notice_table{
    width:1000px;

} */