.admin-memberList-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:auto;
    margin:30px 100px;
}
.member-title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}


thead{
    height:25px;
}
.userList{
    padding: auto;
}
#admin-memberList{
    text-align: center;
}

#pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}