@charset "UTF-8";

main {
  margin-top: 20px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.snb {
  flex-basis: 20%;
}

.product-list {
  flex-basis: 80%;
}

/* 페이지네이션 */
.pagination {
  display: block;
}

.page-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-color: #eaeaea;
  border-radius: 24px;
  cursor: pointer;
}

.page-button:not(:first-child) {
  margin-left: 12px;
}
