<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="admin.css" />
    <script src="admin.js" type="module" defer></script>
    <!-- navbar -->
    <script src="../navbar.js" type="module" defer></script>
    <script src="../footer.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header class="navbar"></header>
    <!-- 메인 -->
    <!-- 관리자 기능  -->
    <section class="section">
      <div class="title is-3">관리자 페이지</div>
      <div class="wrapper">
        <div class="menu-container">
          <a class="box menu-card" href="/admin-order"
            >주문관리>
            <div class="menu-body">
              <p class="title is-3">주문 관리</p>
              <p class="subtile is-3">
                회원들의 주문 내역을 확인, 취소할 수 있습니다.
              </p>
            </div>
          </a>
          <a class="box menu-card" href="/admin-member"
            >회원관리>
            <div class="menu-body">
              <p class="title is-3">회원 관리</p>
              <p class="subtile is-3">회원들의 정보를 확인할 수 있습니다.</p>
            </div>
          </a>
          <a class="box menu-card" href="/admin-category"
            >카테고리관리>
            <div class="menu-body">
              <p class="title is-3">카테고리 관리</p>
              <p class="subtile is-3">
                카테고리를 등록, 수정, 삭제 할 수 있습니다.
              </p>
            </div>
          </a>
          <a class="box menu-card" href="/admin-product"
            >제품관리>
            <div class="menu-body">
              <p class="title is-3">제품 관리</p>
              <p class="subtile is-3">
                제품을 등록, 수정, 삭제 할 수 있습니다.
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- 푸터 -->
    <footer class="footer"></footer>
  </body>
</html>
