/* order.css */
@charset "UTF-8";

.wrapper {
  width: 100%;
  padding: 0 15px;
  /* max-width: 960px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.delivery-info {
  width: 570px;
}
.aside-order {
  margin-top: 65px;
  width: 370px;
  margin-left: 130px;
  margin-bottom: 30px;
  /* background-color: pink; */
}
.aside-order .price .box {
  background-color: #fafafa;
}
