/* 태그 기본값 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin-left: 0;
}

li {
  list-style: none;
}

main {
  margin-top: 40px;
}

article {
  margin-top: 80px;
}

hr {
  content: '';
  display: block;
  margin-top: 80px;
  height: 12px;
  background-color: #f2f2f2;
  border: 0;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}

/* main */
.product-information .wrapper {
  display: flex;
  position: relative;
}

.container {
  width: 770px;
}

/* 제품 이미지 슬라이드 */
.slider-item img {
  width: 100%;
}

/* 구매하기 */
.product-purchase {
  position: absolute;
  top: 0;
  right: 55px;
  width: 370px;
}

/* 메뉴 */
.tab-menu {
  margin-top: 32px;
  height: 40px;
}

.menu-items {
  display: flex;
  justify-content: space-around;
}

.menu-items li {
  font-size: 18px;
  font-weight: 700;
}

/* 제품설명 */
.content-images {
  width: 100%;
}

.content-images img {
  max-width: 100%;
}

/* 펼치기 / 접기 버튼 */
.btn {
  border: 1px solid #ff5c35;
  border-radius: 8px;
  color: #ff5c35;
  width: 100%;
  height: 56px;
}

.btn.unfold {
  display: none;
}

/* 제품후기 */
.rating {
  border: 1px solid #eaeaea;
}

.customer-review {
  padding-bottom: 24px;
}

.customer-review:not(:first-child) {
  padding-top: 24px;
  border-top: 1px solid #eaeaea;
}

.img > p {
  margin-top: 16px;
}

.review-list {
  margin-top: 40px;
}

.customer-rating {
  margin-top: 16px;
}

/* 구매하기 */
.product-name {
  margin-top: 20px;
  font-size: 24px;
  line-height: 28px;
}

.product-price {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}

.description {
  margin-top: 28px;
  padding: 24px 0;
  border: solid #e2e2e2;
  border-width: 1px 0;
  font-size: 16px;
  line-height: 26px;
}

.delivery {
  margin-top: 24px;
  display: flex;
  flex-wrap: nowrap;
}

.delivery p {
  flex-basis: 34%;
}

.price p {
  margin-top: 8px;
}
