@charset "UTF-8";
body {
  position: relative;
}

main {
  margin-top: 40px;
}

.wrapper {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}

.left-container {
  width: 770px;
}

/* 헤더 */
.global {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99991;
}

/* 제품 이미지*/
.product-image {
  margin: auto;
}

/* 스크롤 메뉴 */
.nav-seperate {
  content: '';
  display: block;
  margin-top: 80px;
  height: 12px;
  background-color: #f2f2f2;
  border: 0;
}

.navbar {
  cursor: pointer;
  text-align: center;
}

/* 구매하기 */
.product-purchase {
  position: absolute;
  top: 0;
  right: 55px;
  width: 370px;
}

.purchase {
  text-align: center;
}

.btn-purchase {
  margin: 0 auto;
}

.product-description {
  border: solid #e2e2e2;
  border-width: 1px 0;
  font-size: 16px;
  line-height: 26px;
}

.delivery p {
  flex-basis: 30%;
}

/* 장바구니 담기 */
.purchase-floating {
  display: none;
  position: fixed;
  bottom: 0;
  width: 370px;
}

/* js - menu fix  */
.fixed {
  position: fixed;
  top: 0;
}

/* js - onoff */
.purchase-floating.on {
  display: block;
}

/*  */
.purchase-wrapper {
  padding: 0 21px 40px 21px;
  border: 1px solid #eaeaea;
  border-bottom: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.close-purchase {
  text-align: right;
  padding-top: 19px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}

.scroll-box {
  margin-top: 27px;
  overflow-y: scroll;
  padding-right: 15px;
}

.product-title {
  font-weight: 700;
}

.cart-count {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #eaeaea;
}

.cart-count > p {
  margin: auto 0;
}

.count-wrapper button {
  width: 28px;
  height: 28px;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  cursor: pointer;
}

.cnt-number {
  padding: 0 32px;
  text-align: center;
}

.cart-total {
  padding-top: 31px;
}

.cart-add {
  padding-top: 30px;
  text-align: center;
}
