<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>약쟁이</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
    <!-- navbar -->
    <script src="navbar.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <header></header>

    <!-- 메인 -->
    <main>
      <!-- 배너 -->
      <section class="banner">
        <div class="slider">
          <div class="slide-container">
            <div class="slide-item">
              <img
                src="https://img.pilly.kr/banner/202210/20221028/97ed2881-56a5-11ed-b2aa-0217ec59abe6.jpg?v=v202111172159"
                alt="배너이미지01"
              />
            </div>
            <div class="slide-item">
              <img
                src="https://img.pilly.kr/banner/202210/20221028/ea12e850-56a5-11ed-b2aa-0217ec59abe6.jpg?v=v202111172159"
                alt="배너이미지02"
              />
            </div>
            <div class="slide-item">
              <img
                src="https://img.pilly.kr/banner/202210/20221028/0809353b-56a6-11ed-b2aa-0217ec59abe6.jpg?v=v202111172159"
                alt="배너이미지03"
              />
            </div>
            <div class="slide-item">
              <img
                src="https://img.pilly.kr/banner/202210/20221028/0809353b-56a6-11ed-b2aa-0217ec59abe6.jpg?v=v202111172159"
                alt="배너이미지03"
              />
            </div>
          </div>
        </div>
      </section>

      <!-- 고민별 상품 보기 -->
      <!-- TODO 컴포넌트 분리 -->
      <section class="category-concern">
        <div class="wrapper">
          <div class="concern-title">
            <h2 class="title">고민되는 카테고리를 선택하세요.</h2>
          </div>

          <!-- 아이콘 리스트 -->
          <div class="category-container">
            <ul class="category-icons is-flex">
              <li id="all-product">
                <button class="category-link">
                  <figure class="category-image is-flex">
                    <img
                      src="https://pilly.kr/images/store/concern/icon-total_off@2x.png"
                      alt="전체아이콘"
                    />
                  </figure>
                  <p class="category-name is-justify-content-center">전체</p>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- 필리 유튜브 -->
    </main>

    <!-- 푸터 -->
    <footer></footer>
  </body>
</html>
