<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>약쟁이</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->

    <!-- 메인 -->
    <main>
      <!-- 배너 -->
      <div class="banner"></div>

      <!-- 고민별 상품 보기 -->
      <!-- TODO 컴포넌트 분리 -->
      <section class="category-concern">
        <div class="wrapper">
          <div class="concern-title">
            <h2 class="title">고민별 상품 보기</h2>
          </div>

          <!-- 아이콘 리스트 -->
          <div class="category-container">
            <ul class="category-icons is-flex">
              <li>
                <button class="category-link">
                  <figure class="category-image is-flex">
                    <img
                      src="https://pilly.kr/images/store/concern/icon-total_on@2x.png"
                      alt="전체"
                    />
                  </figure>
                  <p class="category-name is-justify-content-center">전체</p>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- TODO 컴포넌트 분리 -->
      <!-- 신상품 -->
      <section class="mt-6 horizontal">
        <div class="wrapper">
          <h2 class="title">신상품</h2>
          <!-- 상품 -->
          <div class="product-container">
            <ul class="product-items is-flex"></ul>
          </div>

          <!-- 더보기 -->
          <div class="more">
            <a href="#" class="btn-more"><span>💊</span>신상품 더보기</a>
          </div>
        </div>
      </section>

      <!-- 베스트 -->
      <section class="best mt-6">
        <div class="wrapper">
          <h2 class="title">베스트</h2>
          <!-- 상품 -->
          <div class="product-container">
            <ul class="product-items is-flex"></ul>
          </div>
        </div>
      </section>

      <!-- 할인 -->
      <section class="sale mt-6">
        <div class="wrapper">
          <h2 class="title">할인</h2>
          <!-- 상품 -->
          <div class="product-container">
            <ul class="product-items is-flex"></ul>
          </div>
        </div>
      </section>
    </main>

    <!-- 푸터 -->
  </body>
</html>
