/* 태그 기본값 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin-left: 0;
}

li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 0 55px;
}

/* 배너 */
.banner {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 130px;
  left: 200px;
}

.banner-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: #ff5c35;
}

.text-bold {
  font-weight: 400;
  color: #000000;
}

.banner-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* 고민별 상품 보기 */
.category-concern {
  margin-top: 56px;
}

.concern-title {
  position: relative;
}

.category-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin-top: 16px;
}

.category-icons {
  margin-top: 24px;
  user-select: none;
}

.category-icons li:not(:first-child) {
  margin-left: 12px;
}

.category-image {
  width: 72px;
  height: 72px;
  border-radius: 24px;
  background-color: #f2f2f2;
}

.category-image img {
  width: 32px;
  height: 32px;
  margin: auto;
}

.category-name {
  margin-top: 8px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

.category-image:hover {
  background-color: #ffefeb;
}

/* 유튜브 */
.video {
  margin-top: 80px;
  text-align: center;
}

.video-title h2 {
  padding-top: 11px;
}

.video-title p {
  margin-top: 8px;
  color: #858589;
}

.video-title span {
  color: #ff5c35;
}

.youtube {
  margin-top: 36px;
  width: 1170px;
  height: 658px;
}

.text-content {
  margin-top: 56px;
}

.text h3 {
  font-size: 24px;
  color: #ff5c35;
}

.text p {
  margin-top: 18px;
}
.text-content{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .category-concern{
    display: flex;
  }
  #video-title{
    width: 72.5%;
  }
  .youtube{
    width: 72.5%
  }
  .text-content{
    flex-direction: column;
    width:72.5%;
  }
  .text{
    padding: 50px 0px;
  }
}