<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="cart.css" />
    <script src="cart.js" type="module" defer></script>
    <!-- navbar -->
    <script src="../navbar.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation"></nav>
    <!-- 장바구니 -->
    <div class="wrapper">
      <div class="content">
        <section class="is-flex is-justify-content-space-between"><h2 class="title is-3 mt-3">장바구니</h2><div id="deleteButton"></div></section>
        <section class="products">
          <div id="products"></div>
          <a class="button is-primary is-fullwidth is-hovered mt-4" href="/"
          ><strong>제품 추가하기</strong></a
        >
      </div>
      <aside class="aside-order">
        <section class="price">
          
          <div class="box total">
            <dl>
              <dt class="strong"><strong>상품수</strong></dt>
              <dd id="product-count"></dd>
              <dt ><strong>총 상품금액</strong></dt>
              <dd id="product-total">0원</dd>
              <dt><strong>배송비</strong></dt>
              <dd id="delivery-price">0원</dd>
              <dt><strong>총 결제금액</strong></dt>
              <dd id="total-price">0원</dd>
            </dl>
          </div>
        </section>
        <section class="mt-4">
          <button
                  class="button is-primary is-fullwidth is-hovered"
                  onclick="location.href='/order'">
                 주문서 작성
                </button>
                <div id="products-test">
                </div>
        </section>
      </aside>
    </div>
  </body>
</html>
